 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">First Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Mark ">
        </div>
        <div class="form-group">
            <label for="lastname" class="text-light">Last Name</label>
            <input type="hidden" name="id1" value="">
            <input type="text" name="lastname" value="" placeholder="Stoenis">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="Role" class="text-light">Role</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="role" value="Admin" >
                <label for="radio-2" class="radio-label">Admin</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="role" value="Developer" >
                <label for="radio-3" class="radio-label">Developer</label>
            </div>
        </div>
        <div class="form-group">
            <label for="Phone" class="text-light">Phone</label>
            <input type="number" name="phone" value="" placeholder="1234567890">
        </div>
        <div class="form-group">
            <label for="Address" class="text-light">Address</label>
            <input type="text" name="address" value="" placeholder="Address...">
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>